[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
reddit-bestof = {editable = true, path = "."}
pandas = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
